// Color variables
// Primary
$p-linear-gradient: linear-gradient(180deg, #6448fe 0%, #600594 100%);
$p-red: #ff5252;

// Neutral
$n-white: #ffffff;
$n-light-grayish-violet: #dedddf;
$n-dark-grayish-violet: #8e8593;
$n-very-dark-violet: #21092f;

// Font variables
$primary-font: "Space Grotesk", sans-serif;
$medium-font-weight: 500;
