* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li,
ol {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

textarea {
  resize: none;
  field-sizing: content;
}

input {
  outline: none;
}

body {
  background-color: #ffffff;
  position: relative;
}
body .app-bg {
  background-image: url("../../public/images/bg-main-desktop.png");
  height: 100%;
  width: 32%;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .left {
  width: 541px;
  display: flex;
  flex-direction: column;
  margin-right: 127px;
}
.container .left .card-front {
  align-self: flex-start;
  padding: 28px 32px 26px;
  background-image: url("../../public/images/bg-card-front.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 37px;
  width: 447px;
  height: 245px;
}
.container .left .card-front .card-number {
  margin: 45px 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.416px;
}
.container .left .card-front .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .left .card-front .card-footer .card-name,
.container .left .card-front .card-footer .card-date {
  color: #dedddf;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.988px;
}
.container .left .card-back {
  background-image: url("../../public/images/bg-card-back.png");
  background-position: center;
  background-size: cover;
  align-self: flex-end;
  width: 447px;
  height: 245px;
  position: relative;
}
.container .left .card-back .card-cvc {
  position: absolute;
  top: 111px;
  right: 59px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.788px;
}
.container .right form {
  width: 381px;
}
.container .right form > .form-group {
  margin-bottom: 26px;
}
.container .right form .form-group label {
  margin-bottom: 9px;
  color: #21092f;
  font-size: 12px;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 1.98px;
}
.container .right form .form-group input {
  background-color: transparent;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #dedddf;
  padding: 0 16px;
  font-size: 18px;
  transition: border-color 0.3s ease-in-out;
  font-weight: 500;
  color: #21092f;
}
.container .right form .form-group input::-moz-placeholder {
  color: #bcbabd;
}
.container .right form .form-group input::placeholder {
  color: #bcbabd;
}
.container .right form .form-group input:hover {
  border-color: #6448fe;
}
.container .right form .form-group input:focus {
  border-color: #600594 !important;
}
.container .right form .form-group input.error {
  border-color: #ff5252;
}
.container .right form .form-group .error-msg {
  margin-top: 8px;
  font-size: 12px;
  color: #ff5252;
  display: inline-block;
  font-weight: 500;
}
.container .right form .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.container .right form .row .quarter {
  display: inline-flex;
  flex-basis: 47.5%;
  margin-right: 20px;
  flex-direction: column;
}
.container .right form .row .quarter .inputs {
  display: flex;
}
.container .right form .row .quarter .inputs input {
  flex-basis: 50%;
}
.container .right form .row .quarter .inputs input:first-of-type {
  margin-right: 10px;
}
.container .right form .row .half {
  display: inline-flex;
  flex-direction: column;
  flex-basis: 52.5%;
}
.container .right .thank-you {
  width: 381px;
  text-align: center;
}
.container .right .thank-you .thank-title {
  margin: 36px 0 16px;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 3.5px;
  color: #21092f;
}
.container .right .thank-you .thank-subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #8e8593;
  margin-bottom: 46px;
}
.container .right .cta-btn {
  width: 100%;
  height: 53px;
  border-radius: 8px;
  background-color: #21092f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.container .right .cta-btn:hover {
  background-color: rgb(98, 16, 158);
}

@media (max-width: 1118px) {
  .container .left {
    width: 381px;
  }
  .container .left .card-front {
    width: 100%;
    height: auto;
    padding: 23px 29px;
  }
  .container .left .card-front .card-sign {
    width: 70px;
  }
  .container .left .card-front .card-number {
    font-size: 23px;
    letter-spacing: 2.8px;
    margin: 36px 0 26px;
  }
  .container .left .card-front .card-footer .card-name,
  .container .left .card-front .card-footer .card-date {
    font-size: 12px;
    letter-spacing: 1.4px;
  }
  .container .left .card-back {
    width: 100%;
    height: 203.8px;
  }
  .container .left .card-back .card-cvc {
    font-size: 12px;
    top: 93px;
    right: 48px;
  }
}
@media (max-width: 924px) {
  body {
    position: static;
  }
  body .app-bg {
    right: 0;
    height: 330px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
  }
  .container {
    flex-direction: column;
    margin-top: 64px;
    justify-content: flex-start;
  }
  .container .left {
    margin-right: 0;
    width: 456.5px;
  }
  .container .left .card-front {
    width: 381px;
    order: 1;
    margin-bottom: 0;
    transform: translateY(-89px);
  }
  .container .left .card-back {
    width: 381px;
    height: 206.2px;
    z-index: 1;
  }
  .container .right {
    margin-top: -25px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 80px;
  }
  .container .right form {
    width: 80%;
  }
  .container .right .thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container .right .cta-btn {
    width: 60%;
  }
}
@media (max-width: 685px) {
  .cta-btn {
    width: 100% !important;
  }
}
@media (max-width: 550px) {
  body .app-bg {
    height: 240px;
  }
  .container {
    margin-top: 32px;
  }
  .container .left {
    width: 100%;
    padding: 0 16px;
  }
  .container .left .card-front {
    width: 286px;
    padding: 18px 20px 20px;
    transform: translateY(-63px);
  }
  .container .left .card-front .card-sign svg {
    width: 54px;
    height: 31px;
  }
  .container .left .card-front .card-number {
    font-size: 18px;
    letter-spacing: 2.196px;
    margin: 36px 0 16px;
  }
  .container .left .card-front .card-footer .card-name,
  .container .left .card-front .card-footer .card-date {
    font-size: 10px;
    letter-spacing: 0.7px;
  }
  .container .left .card-back {
    width: 286px;
    height: 157px;
    border-radius: 10px;
  }
  .container .left .card-back .card-cvc {
    top: 71px;
    right: 38px;
    font-size: 10px;
    letter-spacing: 0.72px;
  }
  .container .right {
    margin-top: -15px;
    padding-bottom: 46px;
  }
  .container .right form {
    width: 100%;
    padding: 0 24px;
  }
  .container .right form > .form-group {
    margin-bottom: 20px;
  }
  .container .right form .row {
    margin-bottom: 28px;
  }
  .container .right form .row .quarter {
    margin-right: 11px;
  }
  .container .right form .row .quarter .inputs input:first-of-type {
    margin-right: 8px;
  }
  .container .right .thank-you .thank-subtitle {
    margin-bottom: 48px;
  }
}/*# sourceMappingURL=style.css.map */